body{
	background-image: url(todolist.jpeg);
}
form{
	align-items: center;
	color: black;
	background-color: grey;
	width: 400px;
	font-family: cursive;
	font-size: 18px;
}
input{
	text-align: center;
	height: 20px;
	width: 200px;
}
button{
	width: 80px;
	height: 30px;
}